{% extends "base.html" %}

{% block title %}Add Question{% endblock %}

{% block body %}
<h1>Add a new Question</h1>
    <form method="post">
        <h3>>> Uses wikipedia API >></h1>
        <h3>(You may need to check wikipedia if the page does not exist)</h3>
        
        <label for="category">Category</label>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <p>
            Question:
            <input type="text" name="question">
        </p>
        <button type="submit">Search</button>
    </form>
{% endblock %}