{% extends "base.html" %}

{% block title %}29 Seconds API{% endblock %}

{% block body %}
    <form method="post">
        <label for="difficulty">Difficulty</label>
        <select name="difficulty" id="difficulty">
            {% for level in range(10) %}
                <option value="{{ level+1 }}">{{ level+1 }}</option>
            {% endfor %}
        </select>    
        
        <label for="category">Category</label>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Submit</button>
    </form>
{% endblock %}