{% extends "base.html" %}

{% block title %}29 Seconds API{% endblock %}

{% block body %}
    <form method="post">
        <label for="difficulty">Difficulty</label>
        <select name="difficulty" id="difficulty">
            {% for level in range(10) %}
                <option value="{{ level+1 }}">{{ level+1 }}</option>
            {% endfor %}
        </select>    
        
        <label for="category">Category</label>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Submit</button>
    </form>
    <h4>LINKS</h4>
    <br>
    <a href="{{ url_for('add')}}">Add a show</a>
    <br>
    <a href="https://api-29-seconds.herokuapp.com/api/view">View all databases as JSON</a>
    <br>
    <p>replace 'anime' with available categories for specific category database as JSON</p>
    <a href="https://api-29-seconds.herokuapp.com/api/view/anime">https://api-29-seconds.herokuapp.com/api/view/anime</a>


{% endblock %}